* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
.Rbuildignore text eol=lf
*.R text eol=lf
*.Rd text eol=lf
*.md text eol=lf
*.yaml text eol=lf
DESCRIPTION text eol=lf
LICENSE text eol=lf
NAMESPACE text eol=lf
inst/extdata/ratb_indicator_spec.csv text eol=lf whitespace=-blank-at-eof
inst/extdata/species_taxonomy.csv text eol=lf
